/* header {
  display: flex;
  flex-direction: row;
   flex-direction: column; 
  padding: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding-right: 1.5 rem;
  padding-left: 1.5rem;
} */

.header-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  
}

.button {
    text-align: center;
    border: 1px solid #8ab9e9;
    padding: 5px;
    border-radius: 5px;
}

.button:hover {
    color: #4888c7;
}

a.button:hover {
    color: #fff;
}