{% extends "base.html" %}
{% block MainBlock %}
<div class="loginForm" align="center">
    <h1>Авторизация</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="login-table">
            <tr class="login-input">
                <td>{{ form.username.label_tag}}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr class="login-input">
                <td>{{form.password.label_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        <input type='submit' value="Login">
        <input type='hidden' name='next' value="{{next}}">
    </form>  
</div>
{% endblock MainBlock %}