{% extends "base.html" %}

{% block MainBlock %}
<div class="loginForm" align="center">
    <h1>Авторизация</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="login-table">
            {% for f in form %}
            <tr class="login-input">
                <td>{{f.label}}</td>
                <td>{{f}}</td>
                <td>{{f.errors}}</td>
            </tr>
            {% endfor %}
        </table>
        <input type='submit' value="Войти">
        <input type='hidden' name='next' value="{{next}}">
    </form>  
</div>
{% endblock MainBlock %}